.box {
    width: 500px;
    height: 500px;
    border: 5px solid black;
}

.item1, .item2 {
    width: 150px;
    height: 150px;
}

.item1 {
    background-color: blue;
}

.item2 {
    background-color: red;
}